@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css");
@import url("https://fonts.cdnfonts.com/css/open-sans");

:root {
  font-family: "Open Sans", sans-serif;
}

.sbdocs-wrapper {
  overflow-y: auto !important;
  max-height: 100vh !important;
}
.sbdocs {
  height: auto !important;
}
